# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/week 12/JSF31KochFractalFX_v2_Threadpool/build/
/week 12/JSF31KochFractalFX_NoBufferText/nbproject/private/
/week 12/JSF31KochFractalFX_NoBufferText/dist/
/week 12/JSF31KochFractalFX_NoBufferText/build/
/week 12/NoBufferText/dist/
/week 12/NoBufferText/build/
/week 12/NoBufferText/nbproject/private/
/week 12/NoBufferText_Reader/build/
/week 12/NoBufferText_Reader/dist/
/week 12/NoBufferText_Reader/nbproject/private/
/week 12/NoBufferText - kopie/build/
/week 12/NoBufferText - kopie/dist/
/week 12/NoBufferText - kopie/nbproject/private/
/week 12/NoBufferText_Reader - kopie/build/
/week 12/NoBufferText_Reader - kopie/dist/
/week 12/NoBufferText_Reader - kopie/nbproject/private/
/week 12/BufferText - kopie/build/
/week 12/BufferText - kopie/dist/
/week 12/BufferText - kopie/nbproject/private/
/week 12/BufferText_Reader/build/
/week 12/BufferText_Reader/dist/
/week 12/BufferText_Reader/nbproject/private/
/week 12/BufferText/build/
/week 12/BufferText/dist/
/week 12/BufferText/nbproject/private/
/week 12/NoBufferBinary_Writer/nbproject/private/
/week 12/NoBufferBinary_Reader/nbproject/private/
/week 12/NoBufferBinary_Writer/build/
/week 12/NoBufferBinary_Reader/build/
/week 12/NoBufferBinary_Reader/dist/